# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual Environments
venv/
.venv/
env/
rag_env/

# Veri Tabanı (ChromaDB)
chroma_db_gercek/

# Streamlit
.streamlit/

# OS Files
.DS_Store
Thumbs.db
